body,
html {
    height: 100%;
    margin: 0;
}

:root {
    --theme-color: #D0D5DB;
}

h1 {
    margin-left: 10px;
}

nav {
    background-color: var(--theme-color);
    width: 100%;
    margin: 0%;
    padding: 14px;
    margin-bottom: 20px;

    img {
        max-width: 200px;
        margin: 0%;
    }
}

section {
    margin: 60px 40px;

    span {
        font-size: 14px;
    }
}

.container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    text-align: left;
    /* Align content to the left */
}


.check {
    font-size: 20px;
}